body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5ded8;
}

.chat-container {
    width: 400px;
    height: 600px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}

.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.message.sent {
    background-color: #f8b6d4; /* Color rosa */
    text-align: right; /* Alinea el texto a la derecha */
    padding: 10px;
    border-radius: 10px;
    margin: 5px 0;
    display: inline-block;
    max-width: 80%;
}
.message.received {
    background-color: #6977c2; /* Fondo azul para los mensajes recibidos */
    align-self: flex-start;
}

.input-container {
    display: flex;
    padding: 10px;
}

.input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button {
    padding: 10px;
    margin-left: 10px;
    border: none;
    background-color: #da17c9;
    color: white;
    border-radius: 5px;
}